<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- we want to get access to the form created by Angular. Now you learned about local references you can place on HTML elements to get access to them, so we could place #f on the form element and now we could access this form element on the f reference in our template and we could pass f as an argument to the onSubmit method and print it there. -->
      <!-- we can set it equal to something exposed by this form here, keep in mind the form element is kind of a selector for a directive built into Angular which will create this Javascript object automatically and then it will expose some data we can fetch here on this form element. -->
      <!-- #f="ngForm" tells Angular hey please give me access to this form you created automatically. this is how you get access to the form, to this Javascript object created by Angular automatically. -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
              <span
                class="help-block"
                *ngIf="!email.valid && email.touched">
                Please enter a valid email address.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- we're not using two-way by binding as of now and now we can bind it to a value and remember with it, I mean the control, this input here which is turned into a control by Angular in the background. -->
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <!-- we could add ngModel to get access to whatever the user entered as a reply -->
          <textarea
            name="questionAnswer"
            rows="3"
            class="form-control"
            [(ngModel)]="answer">
          </textarea>
        </div>
        <p>your reply: {{answer}}</p>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
